*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: black;
}
h1
{
    background-color: aquamarine;
    padding: 15px;
    margin: 20px;
}
ul
{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
li
{
    background-color: aqua;
    width: 150px;
    height: 50px;
    border-radius: 50px;
}